/*****到时删除***/
body{overflow:scroll;}
/*****y以上到时删除***/
/*公用部分*/

/*底部公用*/


.footer{position:fixed;bottom: 0;width:100%;z-index: 999;margin:0 auto;max-width: 690px;text-align: center;}
.footer ul{margin:0 auto;padding:0;text-align: center;}
.footer ul li{padding:.2rem;margin:0 1.5%;text-align: center;border-radius: .3rem;font-size:.65rem !important;}
/*标题横线*/
.line-title,.user-edit{height:3rem;line-height:3rem;text-align:center;}
.line-title{float:left;width:7rem;}
.line-title span{background:#eee;width:5rem;padding:0.6rem;  }
.center-line{border-bottom:1px solid #000;margin-top:1.5rem !important;float:;} 



/*end公用部分*/
/*个人信息*/
.user-contain{margin-top:2.2rem;margin-bottom:1.8rem;height: 19000px; }
.user-contain *{margin:0px;padding:0px;}
.user-head{height:9rem;width:100%;font-size:.7rem;padding-left:1rem;padding-top:1rem;background:url(../img/b13.jpg) no-repeat;background-size:100%;}
.user-head dl dt{float:left;width:5rem;height:100%;margin-right:10%;}
.user-head dl dt img{width:100%;}
.user-head dl dd{float:left;width:50%;line-height:1.2rem;height:1.2rem;}
.user-names{margin-bottom:.4rem;}
.user-address,.user-renzheng{margin-left:.6rem;}
.user-names span{display: block;float:left;}
.user-renzheng{width:15px;}

.jiben-title{height:3rem;overflow: hidden;box-sizing: border-box;}
.user-edit{float:right;font-size:0.6rem !important;width:6rem;}
.user-edit span{float:;padding:0.6rem;background:#eee;}
	 

.jiben-xiangxi{padding-left:1.3rem;padding-bottom:;overflow:hidden;}
.jiben-xiangxi ul{font-size:0.7rem;width:100%;float:left;margin-bottom:0.5rem;}
.jiben-xiangxi ul li{float:left;text-align: center;}
.jiben-xiangxi ul li.user-icon{margin-right:1rem;}
.jiben-xiangxi ul li.jiben-line{width:1px;margin:0 .6rem;}

.user-work2{margin-left:2rem;}

.user-hengxian{width:80%;height:1px;background: radial-gradient(ellipse  at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);margin:0.8rem auto;clear:both;}


/*end个人信息*/

/*服务介绍*/


.head-img img{width:100%;}
.service{margin:.8rem 0;}
.service-contents{width:96%;margin:0 auto;margin-bottom:2rem;}

.service-title{padding:.1rem .4rem;background:#ccc;}
.service-text{padding:.4rem;background:#fff;border:1px #ccc solid;font-size:.5rem !important;line-height: 1rem}
.service-text img{width:100%;}
.srevice-table table{width:100%;}
.srevice-table table tr th,.srevice-table tr td{width:50%;text-align: center;padding:.1rem;margin:0px;padding:0px;}
.srevice-table table tr th{background:#ccc;font-size:.8rem;}
.srevice-table table tr td{border:1px #ccc solid;font-size:.6rem;}
.service-warn{color:red;width:100%;font-size: .6rem;padding:.3rem;}







/*end服务介绍*/	